.about-me {
  font-size: 25px;
}

a {
  color: white;
  text-decoration: none;
}

.about-me {
  display: flex;
  justify-content: center;
}

.contact-section {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.contact-section .right-side {
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #202020;
}

.contact-section .right-side li {
  color: white;
  font-size: 50px
}

.contact-section .left-side {
  padding: 20px 40px 20px 40px;
  font-size: 70px;
  display: flex;
}

.github-icon {
  max-width: 70px;
  padding-right: 30px;
}

.linkedin-icon {
  max-width: 70px;
  padding-right: 30px;
}

.gh-div {
  display: flex;
  align-items: center;
}

.li-div {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.intro {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.intro .left-side h1 {
  color: white;
}

.intro .left-side {
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 40px;
  background-color: #202020;
}

.intro .right-side {
  padding: 20px 40px 20px 40px;
  font-size: 20px;
  display: flex;
}

h1 {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
}

li.nostyle {
  list-style-type: none;
}

p, li, ol {
  font-family: 'Roboto', sans-serif;
}
